body {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: gray;
  color: white;
}

header h1 {
  flex: 1;
  text-align: center;
}

nav {
  font-family: "Quantico", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: lightgray;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin: 0 1rem;
  word-spacing: 5px;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: "Quantico";
}

main {
  flex-grow: 1;
  font-family: "Space Grotesk", sans-serif;
  padding: 20px;
}

footer {
  font-family: "Quantico", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  background-color: gray;
  color: white;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.svg {
    width: 40px;
    height: 40px;
    padding-top: 1rem;
}

/* Iconos */
#menu-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

#icon {
  font-size: 1rem;
}

/* Estilos de la página del servidor */
@font-face {
  font-family: "neuropol";
  src:
    url("carpeta-fonts/Neuropol.woff2") format("woff2"),
    url("carpeta-fonts/Neuropol.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Starjedi";
  src:
    url("carpeta-fonts/Starjedi.woff2") format("woff2"),
    url("carpeta-fonts/Starjedi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Refuel";
  src:
    url("carpeta-fonts/Refuel Eb Cond.woff2") format("woff2"),
    url("carpeta-fonts/Refuel Eb Cond.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1.servidor {
  font-family: "neuropol", sans-serif;
}

h2.servidor {
  font-family: "Starjedi", sans-serif;
}

main.servidor {
  font-family: "Refuel", sans-serif;
}

.servidor {
  text-align: center;
}
